__pycache__/*
.vscode/*
cleaned_image_data/*
data/*
image_data/*
keys/*
model_evaluation/*
runs/*
fb_data_pipeline/__pycache__/*
fb_data_pipeline/model_evaluation/*
fb_data_pipeline/runs/*
fb_data_pipeline/data/*